<h5>Lancio procedure</h5>
<div class="titleDiv">
  <div
    class="titleDiv2"
    *ngFor="let proc of procedureSelezionate"
  >
    <h5
    class="tableHeader"
    >
      {{ proc.TITOLO_PROCEDURA }}
    </h5>
    <div *ngFor="let par of proc.PARAMETRI">
      <mat-form-field
        *ngIf="par.TIPO == 'string'"
        hintLabel=""
        appearance="fill"
        class="formWithMargins"
      >
        <mat-label>{{ par.NOME_PARAMETRO }}</mat-label>
        <input
          matInput
          #input
          maxlength="10"
          [(ngModel)]="par.VALORE_PREC"
          placeholder="Ex. "
        />
        <mat-hint align="end"
          >{{ input.value?.length || 0 }}/10 caratteri</mat-hint
        >
      </mat-form-field>
      <mat-form-field
        *ngIf="par.TIPO == 'number'"
        hintLabel=""
        appearance="fill"
        class="formWithMargins"

      >
        <mat-label>{{ par.NOME_PARAMETRO }}</mat-label>
        <input
          matInput
          #input
          type="number"
          [(ngModel)]="par.VALORE_PREC"
          placeholder="Ex. "
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        *ngIf="par.TIPO == 'select'"
      >
        <mat-label>{{ par.NOME_PARAMETRO }}</mat-label>
        <mat-select [(ngModel)]="par.VALORE_PREC">
          <mat-option
            *ngFor="let opt of par.OPTIONS"
            value="opt.VALUE ? opt.VALUE: opt.DESC"
            >{{ opt.DESC }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="bottomButtonsDiv">
  <button
    mat-raised-button

    routerLink="/"
  >
    Lancia
  </button>
  <button
    mat-raised-button

    routerLink="/"
  >
    Annulla
  </button>
</div>
